/* 注册登录框 组件样式 */
.m-registermodal{padding:39px 196px 42px 106px;}/*padding-right, 136 + 60*/

.m-registermodal .logo{width:214px;}

/* 级联选择器 */
.m-registermodal .birthday_select .select_opt{z-index:99;}/* 上方的生日选择器，层级要高于下方的日期选择器 */
.m-registermodal .location_select .select_opt{z-index:9;}
/* 注册按钮 */
.m-registermodal button[type=submit]{width:calc(100% + 60px);}