/* Reset */
html, body{ margin: 0; padding: 0; }
ul { margin: 0; padding: 0; list-style: none; }
a { text-decoration: none; }
/* 布局样式 */
.g-header {height: 90px; background-color: #fff; }
.g-banner {height: 365px; position: relative; }
.g-body { width: 1080px; margin: 50px auto 0; }
.g-main { width: 760px; left: left; }
.g-side { width: 295px; float: right; }
.g-footer { width: 1080px; margin: 0 auto; }