/* 确认弹窗 组件样式 */
.m-confirmmodal{position:relative;width:408px;padding:10px 12px;border:1px solid #a8a8a8;box-sizing:border-box;}
/* 关闭弹窗按钮 */
.m-confirmmodal .close_btn{position:absolute;right:9px;top:9px;font-size:15px;color:#c0c0c1;cursor:pointer;}
/* 标题 */
.m-confirmmodal .modal_tt{margin-bottom:10px;line-height:1em;color:#5ed0ba;font-size:15px;}
/* 内容 */
.m-confirmmodal .modal_ct{border-top:1px solid #e9eaea;text-align:center;}
.m-confirmmodal .modal_ct .confirm_msg{margin-top:24px;font-size:14px;}
.m-confirmmodal .modal_ct .confirm_msg span{color:#5ed0ba;}
.m-confirmmodal .modal_ct .confirm_msg input{width:200px;height:35px;box-sizing:border-box;line-height:35px;border-color:#d7d7d7;}
.m-confirmmodal .modal_ct .u-btn{width:90px;margin-top:24px;margin-bottom:5px;}
.m-confirmmodal .modal_ct .u-btn + .u-btn{margin-left:20px;}