/* Modal 组件样式 */
.m-modal{position:fixed;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);}
/* 内容区 */
.m-modal > div{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);translate(-50%,-50%);border:1px solid #e4e4e2;background:#fff;}