/* 首页 */

/* 引入模块化 组件样式 */
@import url(../component/Tabs/Tabs.css);
@import url(../component/Search/Search.css);
@import url(../component/Guest/Guest.css);
@import url(../component/User/User.css);
@import url(../component/Nav/Nav.css);
@import url(../component/Slider/Slider.css);
@import url(../component/Section/Section.css);
@import url(../component/Modal/Modal.css);
@import url(../component/Select/Select.css);
@import url(../component/StarList/StarList.css);
@import url(../component/CascadeSelect/CascadeSelect.css);
@import url(../component/LoginModal/LoginModal.css);
@import url(../component/RegisterModal/RegisterModal.css);

/* 布局样式 */
.g-banner{height:365px;position:relative;}
.g-body{width:1080px;margin:50px auto 0;}
.g-main{width:760px;float:left;}
.g-side{width:295px;float:right;}
.g-footer{width:1080px;margin:0 auto;}