/* 作品创建页 */

/* 引入模块化 组件样式 */
@import url(../../component/Tabs/Tabs.css);
@import url(../../component/Search/Search.css);
@import url(../../component/Guest/Guest.css);
@import url(../../component/User/User.css);
@import url(../../component/Nav/Nav.css);
@import url(../../component/UploadPictures/UploadPictures.css);
@import url(../../component/Modal/Modal.css);
@import url(../../component/AlertModal/AlertModal.css);
@import url(../../component/Tag/Tag.css);

/* 页面样式 */
.g-body{width:1098px;margin:54px auto 0;}
.g-main,.g-side{border:1px solid #e0e1e1;box-sizing:border-box;}
.g-main{float:left;width:770px;background:#fff;}
.g-side{float:right;width:316px;background:#f7f8f8;}